zz3/IntegrationApplications/Correction/part3/WebApplicationJSP/web/WEB-INF/wsdl/localhost_10397/WebApplicationJSP/WSDaoJpaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://RendezVous/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://RendezVous/" name="WSDaoJpaService">
<types>
<xsd:schema>
<xsd:import namespace="http://RendezVous/" schemaLocation="http://localhost:10397/WebApplicationJSP/WSDaoJpaService?xsd=1" />
</xsd:schema>
</types>
<message name="getAllClients">
<part name="parameters" element="tns:getAllClients" />
</message>
<message name="getAllClientsResponse">
<part name="parameters" element="tns:getAllClientsResponse" />
</message>
<message name="getAllMedecins">
<part name="parameters" element="tns:getAllMedecins" />
</message>
<message name="getAllMedecinsResponse">
<part name="parameters" element="tns:getAllMedecinsResponse" />
</message>
<message name="getAllCreneaux">
<part name="parameters" element="tns:getAllCreneaux" />
</message>
<message name="getAllCreneauxResponse">
<part name="parameters" element="tns:getAllCreneauxResponse" />
</message>
<message name="getRvMedecinJour">
<part name="parameters" element="tns:getRvMedecinJour" />
</message>
<message name="getRvMedecinJourResponse">
<part name="parameters" element="tns:getRvMedecinJourResponse" />
</message>
<message name="ajouterRv">
<part name="parameters" element="tns:ajouterRv" />
</message>
<message name="ajouterRvResponse">
<part name="parameters" element="tns:ajouterRvResponse" />
</message>
<message name="supprimerRv">
<part name="parameters" element="tns:supprimerRv" />
</message>
<message name="supprimerRvResponse">
<part name="parameters" element="tns:supprimerRvResponse" />
</message>
<message name="getClientById">
<part name="parameters" element="tns:getClientById" />
</message>
<message name="getClientByIdResponse">
<part name="parameters" element="tns:getClientByIdResponse" />
</message>
<message name="getMedecinById">
<part name="parameters" element="tns:getMedecinById" />
</message>
<message name="getMedecinByIdResponse">
<part name="parameters" element="tns:getMedecinByIdResponse" />
</message>
<message name="getRvById">
<part name="parameters" element="tns:getRvById" />
</message>
<message name="getRvByIdResponse">
<part name="parameters" element="tns:getRvByIdResponse" />
</message>
<message name="getCreneauById">
<part name="parameters" element="tns:getCreneauById" />
</message>
<message name="getCreneauByIdResponse">
<part name="parameters" element="tns:getCreneauByIdResponse" />
</message>
<portType name="WSDaoJpa">
<operation name="getAllClients">
<input wsam:Action="http://RendezVous/WSDaoJpa/getAllClientsRequest" message="tns:getAllClients" />
<output wsam:Action="http://RendezVous/WSDaoJpa/getAllClientsResponse" message="tns:getAllClientsResponse" />
</operation>
<operation name="getAllMedecins">
<input wsam:Action="http://RendezVous/WSDaoJpa/getAllMedecinsRequest" message="tns:getAllMedecins" />
<output wsam:Action="http://RendezVous/WSDaoJpa/getAllMedecinsResponse" message="tns:getAllMedecinsResponse" />
</operation>
<operation name="getAllCreneaux">
<input wsam:Action="http://RendezVous/WSDaoJpa/getAllCreneauxRequest" message="tns:getAllCreneaux" />
<output wsam:Action="http://RendezVous/WSDaoJpa/getAllCreneauxResponse" message="tns:getAllCreneauxResponse" />
</operation>
<operation name="getRvMedecinJour">
<input wsam:Action="http://RendezVous/WSDaoJpa/getRvMedecinJourRequest" message="tns:getRvMedecinJour" />
<output wsam:Action="http://RendezVous/WSDaoJpa/getRvMedecinJourResponse" message="tns:getRvMedecinJourResponse" />
</operation>
<operation name="ajouterRv">
<input wsam:Action="http://RendezVous/WSDaoJpa/ajouterRvRequest" message="tns:ajouterRv" />
<output wsam:Action="http://RendezVous/WSDaoJpa/ajouterRvResponse" message="tns:ajouterRvResponse" />
</operation>
<operation name="supprimerRv">
<input wsam:Action="http://RendezVous/WSDaoJpa/supprimerRvRequest" message="tns:supprimerRv" />
<output wsam:Action="http://RendezVous/WSDaoJpa/supprimerRvResponse" message="tns:supprimerRvResponse" />
</operation>
<operation name="getClientById">
<input wsam:Action="http://RendezVous/WSDaoJpa/getClientByIdRequest" message="tns:getClientById" />
<output wsam:Action="http://RendezVous/WSDaoJpa/getClientByIdResponse" message="tns:getClientByIdResponse" />
</operation>
<operation name="getMedecinById">
<input wsam:Action="http://RendezVous/WSDaoJpa/getMedecinByIdRequest" message="tns:getMedecinById" />
<output wsam:Action="http://RendezVous/WSDaoJpa/getMedecinByIdResponse" message="tns:getMedecinByIdResponse" />
</operation>
<operation name="getRvById">
<input wsam:Action="http://RendezVous/WSDaoJpa/getRvByIdRequest" message="tns:getRvById" />
<output wsam:Action="http://RendezVous/WSDaoJpa/getRvByIdResponse" message="tns:getRvByIdResponse" />
</operation>
<operation name="getCreneauById">
<input wsam:Action="http://RendezVous/WSDaoJpa/getCreneauByIdRequest" message="tns:getCreneauById" />
<output wsam:Action="http://RendezVous/WSDaoJpa/getCreneauByIdResponse" message="tns:getCreneauByIdResponse" />
</operation>
</portType>
<binding name="WSDaoJpaPortBinding" type="tns:WSDaoJpa">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAllClients">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllMedecins">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllCreneaux">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getRvMedecinJour">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ajouterRv">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="supprimerRv">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getClientById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMedecinById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getRvById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCreneauById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSDaoJpaService">
<port name="WSDaoJpaPort" binding="tns:WSDaoJpaPortBinding">
<soap:address location="http://localhost:10397/WebApplicationJSP/WSDaoJpaService" />
</port>
</service>
</definitions>