zz2/ServiceReseaux/tp7/WSLivre/UnitTest/Service References/ServiceIsimaBook/ServiceIsimaBook.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://www.webserviceX.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.webserviceX.NET/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="books" type="tns:ArrayOfBook" />
            <s:element minOccurs="0" maxOccurs="1" name="creditcard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipping" type="tns:ContactDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="invoicing" type="tns:ContactDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBook">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Book">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReleaseDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Writer" type="tns:Author" />
          <s:element minOccurs="0" maxOccurs="1" name="Publisher" type="tns:Editor" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Kind" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Author">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Editor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Kind">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyCreditCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creditcard" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyCreditCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyCreditCardResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllBooks">
        <s:complexType />
      </s:element>
      <s:element name="AllBooksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllBooksResult" type="tns:ArrayOfBook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertEuroTo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="europrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="exchange" type="s1:Currency" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertEuroToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertEuroToResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:simpleType name="Currency">
        <s:restriction base="s:string">
          <s:enumeration value="AFA" />
          <s:enumeration value="ALL" />
          <s:enumeration value="DZD" />
          <s:enumeration value="ARS" />
          <s:enumeration value="AWG" />
          <s:enumeration value="AUD" />
          <s:enumeration value="BSD" />
          <s:enumeration value="BHD" />
          <s:enumeration value="BDT" />
          <s:enumeration value="BBD" />
          <s:enumeration value="BZD" />
          <s:enumeration value="BMD" />
          <s:enumeration value="BTN" />
          <s:enumeration value="BOB" />
          <s:enumeration value="BWP" />
          <s:enumeration value="BRL" />
          <s:enumeration value="GBP" />
          <s:enumeration value="BND" />
          <s:enumeration value="BIF" />
          <s:enumeration value="XOF" />
          <s:enumeration value="XAF" />
          <s:enumeration value="KHR" />
          <s:enumeration value="CAD" />
          <s:enumeration value="CVE" />
          <s:enumeration value="KYD" />
          <s:enumeration value="CLP" />
          <s:enumeration value="CNY" />
          <s:enumeration value="COP" />
          <s:enumeration value="KMF" />
          <s:enumeration value="CRC" />
          <s:enumeration value="HRK" />
          <s:enumeration value="CUP" />
          <s:enumeration value="CYP" />
          <s:enumeration value="CZK" />
          <s:enumeration value="DKK" />
          <s:enumeration value="DJF" />
          <s:enumeration value="DOP" />
          <s:enumeration value="XCD" />
          <s:enumeration value="EGP" />
          <s:enumeration value="SVC" />
          <s:enumeration value="EEK" />
          <s:enumeration value="ETB" />
          <s:enumeration value="EUR" />
          <s:enumeration value="FKP" />
          <s:enumeration value="GMD" />
          <s:enumeration value="GHC" />
          <s:enumeration value="GIP" />
          <s:enumeration value="XAU" />
          <s:enumeration value="GTQ" />
          <s:enumeration value="GNF" />
          <s:enumeration value="GYD" />
          <s:enumeration value="HTG" />
          <s:enumeration value="HNL" />
          <s:enumeration value="HKD" />
          <s:enumeration value="HUF" />
          <s:enumeration value="ISK" />
          <s:enumeration value="INR" />
          <s:enumeration value="IDR" />
          <s:enumeration value="IQD" />
          <s:enumeration value="ILS" />
          <s:enumeration value="JMD" />
          <s:enumeration value="JPY" />
          <s:enumeration value="JOD" />
          <s:enumeration value="KZT" />
          <s:enumeration value="KES" />
          <s:enumeration value="KRW" />
          <s:enumeration value="KWD" />
          <s:enumeration value="LAK" />
          <s:enumeration value="LVL" />
          <s:enumeration value="LBP" />
          <s:enumeration value="LSL" />
          <s:enumeration value="LRD" />
          <s:enumeration value="LYD" />
          <s:enumeration value="LTL" />
          <s:enumeration value="MOP" />
          <s:enumeration value="MKD" />
          <s:enumeration value="MGF" />
          <s:enumeration value="MWK" />
          <s:enumeration value="MYR" />
          <s:enumeration value="MVR" />
          <s:enumeration value="MTL" />
          <s:enumeration value="MRO" />
          <s:enumeration value="MUR" />
          <s:enumeration value="MXN" />
          <s:enumeration value="MDL" />
          <s:enumeration value="MNT" />
          <s:enumeration value="MAD" />
          <s:enumeration value="MZM" />
          <s:enumeration value="MMK" />
          <s:enumeration value="NAD" />
          <s:enumeration value="NPR" />
          <s:enumeration value="ANG" />
          <s:enumeration value="NZD" />
          <s:enumeration value="NIO" />
          <s:enumeration value="NGN" />
          <s:enumeration value="KPW" />
          <s:enumeration value="NOK" />
          <s:enumeration value="OMR" />
          <s:enumeration value="XPF" />
          <s:enumeration value="PKR" />
          <s:enumeration value="XPD" />
          <s:enumeration value="PAB" />
          <s:enumeration value="PGK" />
          <s:enumeration value="PYG" />
          <s:enumeration value="PEN" />
          <s:enumeration value="PHP" />
          <s:enumeration value="XPT" />
          <s:enumeration value="PLN" />
          <s:enumeration value="QAR" />
          <s:enumeration value="ROL" />
          <s:enumeration value="RUB" />
          <s:enumeration value="WST" />
          <s:enumeration value="STD" />
          <s:enumeration value="SAR" />
          <s:enumeration value="SCR" />
          <s:enumeration value="SLL" />
          <s:enumeration value="XAG" />
          <s:enumeration value="SGD" />
          <s:enumeration value="SKK" />
          <s:enumeration value="SIT" />
          <s:enumeration value="SBD" />
          <s:enumeration value="SOS" />
          <s:enumeration value="ZAR" />
          <s:enumeration value="LKR" />
          <s:enumeration value="SHP" />
          <s:enumeration value="SDD" />
          <s:enumeration value="SRG" />
          <s:enumeration value="SZL" />
          <s:enumeration value="SEK" />
          <s:enumeration value="CHF" />
          <s:enumeration value="SYP" />
          <s:enumeration value="TWD" />
          <s:enumeration value="TZS" />
          <s:enumeration value="THB" />
          <s:enumeration value="TOP" />
          <s:enumeration value="TTD" />
          <s:enumeration value="TND" />
          <s:enumeration value="TRL" />
          <s:enumeration value="USD" />
          <s:enumeration value="AED" />
          <s:enumeration value="UGX" />
          <s:enumeration value="UAH" />
          <s:enumeration value="UYU" />
          <s:enumeration value="VUV" />
          <s:enumeration value="VEB" />
          <s:enumeration value="VND" />
          <s:enumeration value="YER" />
          <s:enumeration value="YUM" />
          <s:enumeration value="ZMK" />
          <s:enumeration value="ZWD" />
          <s:enumeration value="TRY" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterOrderSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterOrder" />
  </wsdl:message>
  <wsdl:message name="RegisterOrderSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterOrderResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyCreditCardSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyCreditCard" />
  </wsdl:message>
  <wsdl:message name="VerifyCreditCardSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyCreditCardResponse" />
  </wsdl:message>
  <wsdl:message name="AllBooksSoapIn">
    <wsdl:part name="parameters" element="tns:AllBooks" />
  </wsdl:message>
  <wsdl:message name="AllBooksSoapOut">
    <wsdl:part name="parameters" element="tns:AllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertEuroToSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertEuroTo" />
  </wsdl:message>
  <wsdl:message name="ConvertEuroToSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertEuroToResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceIsimaBookSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterOrder">
      <wsdl:input message="tns:RegisterOrderSoapIn" />
      <wsdl:output message="tns:RegisterOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyCreditCard">
      <wsdl:input message="tns:VerifyCreditCardSoapIn" />
      <wsdl:output message="tns:VerifyCreditCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllBooks">
      <wsdl:input message="tns:AllBooksSoapIn" />
      <wsdl:output message="tns:AllBooksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertEuroTo">
      <wsdl:input message="tns:ConvertEuroToSoapIn" />
      <wsdl:output message="tns:ConvertEuroToSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceIsimaBookSoap" type="tns:ServiceIsimaBookSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterOrder">
      <soap:operation soapAction="http://tempuri.org/RegisterOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyCreditCard">
      <soap:operation soapAction="http://tempuri.org/VerifyCreditCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllBooks">
      <soap:operation soapAction="http://tempuri.org/AllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertEuroTo">
      <soap:operation soapAction="http://tempuri.org/ConvertEuroTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceIsimaBookSoap12" type="tns:ServiceIsimaBookSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterOrder">
      <soap12:operation soapAction="http://tempuri.org/RegisterOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyCreditCard">
      <soap12:operation soapAction="http://tempuri.org/VerifyCreditCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllBooks">
      <soap12:operation soapAction="http://tempuri.org/AllBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertEuroTo">
      <soap12:operation soapAction="http://tempuri.org/ConvertEuroTo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceIsimaBook">
    <wsdl:port name="ServiceIsimaBookSoap" binding="tns:ServiceIsimaBookSoap">
      <soap:address location="http://localhost:49528/ServiceIsimaBook.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceIsimaBookSoap12" binding="tns:ServiceIsimaBookSoap12">
      <soap12:address location="http://localhost:49528/ServiceIsimaBook.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>