zz3/IntegrationApplications/tp final/WebApplicationJSP/src/conf/xml-resources/web-service-references/WSDaoJpa/wsdl/localhost_8080/WebApplicationJSP/WSDaoJpa.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rendezvous/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rendezvous/" name="WSDaoJpa">
<types>
<xsd:schema>
<xsd:import namespace="http://rendezvous/" schemaLocation="http://localhost:8080/WebApplicationJSP/WSDaoJpa?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllRv">
<part name="parameters" element="tns:getAllRv"/>
</message>
<message name="getAllRvResponse">
<part name="parameters" element="tns:getAllRvResponse"/>
</message>
<message name="getRvById">
<part name="parameters" element="tns:getRvById"/>
</message>
<message name="getRvByIdResponse">
<part name="parameters" element="tns:getRvByIdResponse"/>
</message>
<message name="getAllClients">
<part name="parameters" element="tns:getAllClients"/>
</message>
<message name="getAllClientsResponse">
<part name="parameters" element="tns:getAllClientsResponse"/>
</message>
<message name="getAllMedecins">
<part name="parameters" element="tns:getAllMedecins"/>
</message>
<message name="getAllMedecinsResponse">
<part name="parameters" element="tns:getAllMedecinsResponse"/>
</message>
<message name="getAllCreneaux">
<part name="parameters" element="tns:getAllCreneaux"/>
</message>
<message name="getAllCreneauxResponse">
<part name="parameters" element="tns:getAllCreneauxResponse"/>
</message>
<message name="getClientById">
<part name="parameters" element="tns:getClientById"/>
</message>
<message name="getClientByIdResponse">
<part name="parameters" element="tns:getClientByIdResponse"/>
</message>
<message name="getCreneauById">
<part name="parameters" element="tns:getCreneauById"/>
</message>
<message name="getCreneauByIdResponse">
<part name="parameters" element="tns:getCreneauByIdResponse"/>
</message>
<message name="getMedecinById">
<part name="parameters" element="tns:getMedecinById"/>
</message>
<message name="getMedecinByIdResponse">
<part name="parameters" element="tns:getMedecinByIdResponse"/>
</message>
<portType name="WSDaoJpa">
<operation name="getAllRv">
<input wsam:Action="http://rendezvous/WSDaoJpa/getAllRvRequest" message="tns:getAllRv"/>
<output wsam:Action="http://rendezvous/WSDaoJpa/getAllRvResponse" message="tns:getAllRvResponse"/>
</operation>
<operation name="getRvById">
<input wsam:Action="http://rendezvous/WSDaoJpa/getRvByIdRequest" message="tns:getRvById"/>
<output wsam:Action="http://rendezvous/WSDaoJpa/getRvByIdResponse" message="tns:getRvByIdResponse"/>
</operation>
<operation name="getAllClients">
<input wsam:Action="http://rendezvous/WSDaoJpa/getAllClientsRequest" message="tns:getAllClients"/>
<output wsam:Action="http://rendezvous/WSDaoJpa/getAllClientsResponse" message="tns:getAllClientsResponse"/>
</operation>
<operation name="getAllMedecins">
<input wsam:Action="http://rendezvous/WSDaoJpa/getAllMedecinsRequest" message="tns:getAllMedecins"/>
<output wsam:Action="http://rendezvous/WSDaoJpa/getAllMedecinsResponse" message="tns:getAllMedecinsResponse"/>
</operation>
<operation name="getAllCreneaux">
<input wsam:Action="http://rendezvous/WSDaoJpa/getAllCreneauxRequest" message="tns:getAllCreneaux"/>
<output wsam:Action="http://rendezvous/WSDaoJpa/getAllCreneauxResponse" message="tns:getAllCreneauxResponse"/>
</operation>
<operation name="getClientById">
<input wsam:Action="http://rendezvous/WSDaoJpa/getClientByIdRequest" message="tns:getClientById"/>
<output wsam:Action="http://rendezvous/WSDaoJpa/getClientByIdResponse" message="tns:getClientByIdResponse"/>
</operation>
<operation name="getCreneauById">
<input wsam:Action="http://rendezvous/WSDaoJpa/getCreneauByIdRequest" message="tns:getCreneauById"/>
<output wsam:Action="http://rendezvous/WSDaoJpa/getCreneauByIdResponse" message="tns:getCreneauByIdResponse"/>
</operation>
<operation name="getMedecinById">
<input wsam:Action="http://rendezvous/WSDaoJpa/getMedecinByIdRequest" message="tns:getMedecinById"/>
<output wsam:Action="http://rendezvous/WSDaoJpa/getMedecinByIdResponse" message="tns:getMedecinByIdResponse"/>
</operation>
</portType>
<binding name="WSDaoJpaPortBinding" type="tns:WSDaoJpa">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllRv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRvById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMedecins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCreneaux">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClientById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCreneauById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMedecinById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSDaoJpa">
<port name="WSDaoJpaPort" binding="tns:WSDaoJpaPortBinding">
<soap:address location="http://localhost:8080/WebApplicationJSP/WSDaoJpa"/>
</port>
</service>
</definitions>